= jasmine-jstd-conf

Based on jasmine.yml, write a jsTestDriver config file to the supplied path.

http://travis-ci.org/benjaminoakes/jasmine-jstd-conf.png

== Installation

Please see http://rubygems.org/gems/jasmine-jstd-conf

== Tutorial

    {{>usage}}

== Contributing

* Run <tt>./configure</tt> to set up your build environment
* Run +rake+ to run specs
* Please make a pull request with your changes.
* Please add specs for any new functionality.
* Similar to other gems, a console can be opened with:

    irb -I lib -r jasmine-jstd-conf
