Usage: {{program_name}} path [--help]

  path        Path to write to.
  --help      Show this help text.

Based on jasmine.yml, write a JSTD config file to the supplied path.

Example:

  $ {{program_name}} jsTestDriver.conf
  $ cat jsTestDriver.conf
  {{>conf}}
